html,body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #aa4caa ;
}

h1{
    margin-top: 80px;
text-align: center;
color: white    ;
}


.hero{
    
  background-color: #aa4caa ;
   margin-top: 100px;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   display: grid;
   justify-content: center;
   align-items: center;
   
   height:200px ;
}

.rand{
    
    padding-top: 15px;
    background-color: rgb(27, 147, 139);
    border: 2px solid ;
    border-radius: 15px;
    text-align: center;
    width: 400px ;
    height: 40px;
}

.min_max {
    display: flex;
    text-align: left ;
    width: 400px ;
}
p{
    padding-right: 5px;
    
}

.min_max input{
    background-color: rgb(27, 147, 139);
    text-align: center;
    border: 2px solid ;
    border-radius: 18px;
    
   
    
    
   
}
.button{  
    text-align: center;
    height: 40px;
    
   
}
button{
   background-color: rgb(0, 255, 94);
   width: 400px ;
   height: 40px;
   border-radius: 18px;
}


